.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coverimage {
    filter: blur(2px);
    filter: brightness(50%);
    /* padding-left: 15%;
    padding-right: 15%; */
}

.covername {
    font-size: xx-large;
    font-weight: 700;
}

.bottom_center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab {
    /*position: relative;*/
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: #f1f1f1;*/

    /* margin-left: 20%;
    margin-right: 20%; */
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    font-size: 100%;
    justify-content: center;
}

.tab button:hover {
    background-color: #1E90FF;
    color: white;
}

.tab button.active {
    background-color: #1E90FF;
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    animation: fadeEffect 1s;
    -webkit-animation: fadeEffect 1s;
    background-color: #87CEFA;
    margin-left: 5%;
    margin-right: 5%;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.machinename {
    font-size: 300%;
    background-color: white;
    color: red;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

.machinetitle {
    font-size: 300%;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

.submachinetitle {
    font-size: 200%;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.column{
    font-size: 100%;
}

section{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5px;
    grid-auto-flow: column;
}

@media (max-width:482px) {
    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 10px;
        transition: 0.3s;
        font-size: 100%;
        justify-content: center;
    }
}
@media (max-width:402px) {
    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 5px;
        transition: 0.3s;
        font-size: 100%;
        justify-content: center;
    }
}
@media (max-width:362px) {
    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 5px;
        transition: 0.3s;
        font-size: 70%;
        justify-content: center;
    }
}
@media (max-width:269px) {
    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 5px;
        transition: 0.3s;
        font-size: 50%;
        justify-content: center;
    }
}
@media (max-width:767px) {
    .coverimage {
        filter: blur(2px);
        filter: brightness(50%);
        /* padding-left: 15%;
        padding-right: 15%; */
    }
    
    .covername {
        font-size: large;
        font-weight: 700;
    }
    
    .bottom_center {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: small;   
    }
}
@media (max-width:385px) {
    .coverimage {
        filter: blur(2px);
        filter: brightness(50%);
        /* padding-left: 15%;
        padding-right: 15%; */
    }
    
    .covername {
        font-size: medium;
        font-weight: 700;
    }
    
    .bottom_center {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:xx-small;   
    }
}
@media (max-width:302px) {
    .coverimage {
        filter: blur(2px);
        filter: brightness(50%);
        /* padding-left: 15%;
        padding-right: 15%; */
    }
    
    .covername {
        font-size: small;
        font-weight: 700;
    }
    
    .bottom_center {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:xx-small;   
    }
}
@media (max-width:267px) {
    .coverimage {
        filter: blur(2px);
        filter: brightness(50%);
        /* padding-left: 15%;
        padding-right: 15%; */
    }
    
    .covername {
        font-size: small;
        font-weight: 700;
    }
    
    .bottom_center {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:45%;   
    }
}
@media (max-width:246px) {
    .coverimage {
        filter: blur(2px);
        filter: brightness(50%);
        /* padding-left: 15%;
        padding-right: 15%; */
    }
    
    .covername {
        font-size: x-small;
        font-weight: 700;
    }
    
    .bottom_center {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:45%;   
    }
}
@media (max-width:991px) {
    .machinename {
        font-size: 280%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 250%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 150%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media (max-width:908px) {
    .machinename {
        font-size: 260%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 200%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 100%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media (max-width:782px) {
    .machinename {
        font-size: 240%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 150%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 50%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media (max-width:702px) {
    .machinename {
        font-size: 220%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 150%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 120%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
@media (max-width:646px) {
    .machinename {
        font-size: 220%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 120%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 120%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media (max-width:591px) {
    .machinename {
        font-size: 180%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 100%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 120%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media (max-width:482px) {
    .machinename {
        font-size: 150%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 100%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 120%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media (max-width:402px) {
    .machinename {
        font-size: 120%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 80%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 100%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media (max-width:343px) {
    .machinename {
        font-size: 100%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 50%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 100%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media (max-width:265px) {
    .machinename {
        font-size: 80%;
        background-color: white;
        color: red;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    .machinetitle {
        font-size: 30%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .submachinetitle {
        font-size: 100%;
        background-color: red;
        color: white;
        border-radius: 5px;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}